@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color:rgb(235, 233, 228);
}
*{
    font-family: "Work Sans", serif;
}
#head-panel{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 460px;
    width: 1180px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-top: 50px;
}
#head-content{
    width: 622px;
}
#head-title{
    font-size: 24px;
    font-weight: 400;
    color: #0E0E0E 50%;
    opacity: 50%;
}
#head-des{
    
    font-size: 56px;
    font-weight: bold;
    margin: 16px 0px 24px 0px;
    width: 100%;
}
#head-btn{
    background-color: #006A50;
    height: 56px;
    width: 270px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
#vision{
    width: 1280px;
    margin: auto;
    margin-top: 80px;
}
#vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    /* padding-bottom: 0px; */
    margin-bottom: 0px;
}
#vision-des{
    font-size: 16px;
    color: 0E0E0E;
    
}
#box-container{
    display: flex;
    margin:32px 0;
    width: 100%;
    justify-content: space-between;
}
.box{
    height: 251px;
    width:350px;
    padding: 32px;
    border-radius:16px;
}
#box1{
    background-color: rgba(84, 144, 245, 0.2);
}
#box2{
    background-color: #C6E4D6;
}
#box3{
    background-color: #F7EBCF;
}
.box-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}
.box-des{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 24px;
}
.vision-btn{
    height: 41px;
    width: 122px;
    color: white;
    border-radius: 8px;
    border: none;
}
#btn1{
    background-color:#5490F5;
}
#btn2{
    background-color: #09A15C;
}
#btn3{
    background-color: #FFC239;
}
#news{
    width: 1280px;
    margin: auto;
}
#news-title{
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 24px;
}
#news-des{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
}
#newsbox-container{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
#news-des{
    font-size: 16px;
    font-weight: normal;
    height: 24px;

}
.news-box{
    display: flex;
    padding: 48px;
    border-radius: 24px;
    background-color: #ffffff;
    gap: 32px;
}
.news-box img{
    border-radius: 24px;

}
.newsbox-title{
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0px;
}
.box-time{
    font-size: 15px;
    font-weight: normal;
    color: rgba(14, 14, 14, 0.7);
}
.box-btn{
    height: 48px;
    width: 139px;
    background-color: #006A50;
    color: #ffffff;
    margin-top: 32px;
    border-radius: 8px;
    border: none;
}
#donate{
    width: 1280px;
    height: 464px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#donate-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}
#donate-des{
    margin-top: 0px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(14, 14, 14,70%);
    padding: 0px 40px;
}
#donate-box{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    width: 1071px;
    margin: auto
}
.amount{
    height: 128px;
    width: 240px;
    border-radius: 16px;
    background-color: #ffffff;
}
.amount:hover{
    background-color: #C6E4D6;
}
.amount p{
    font-size: 40px;
    font-weight: bold;
}
#donate input{
    padding: 15px;
    height: 64px;
    width: 1032px;
    margin: auto;
    border: none; 
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: rgb(14, 14, 14,30%);
}
#donate button{
    border-radius: 8px;
    padding: 20px;
    border: none;
    width: 151px;
    font-size: 18px;
    font-weight: 500;
    background-color: #006A50;
    color: #ffffff;
    margin: auto;
}